*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
/* header */
h1{
    color: #E53170;
}

.intro > p{
    margin-top: 50px;
}

.intro{
    width: 100%;
    text-align: center;
}
/* div contetn elements */
img{
    height: 85px;
    float: left;
}

img::after{
    content: '';
    display: table;
    clear: both;
}

.email{
    color: rgb(118, 218, 248);
    margin-top: 5px;
}

h3{
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
}

span{
    display: inline-block;
    margin-left: 15px;
}
/* row elements */
.container{
    margin: 50px auto;
    max-width: 1000px;
}

.row{
    padding-left: 30px;
    width: 100%;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.col{
    float: left;
    width: calc(100% / 3);
}

.content{
    font-size: 0.9rem;
    color: white;
    margin-top: 50px;
    width: 300px;
    height: 85px;
    background-color: rgb(15, 14, 23);
}

